<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myFitTracker</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/x-ico" href="/images/dumbell_icon.png">
</head>
<body>
    <div id="header">
        <div id="left"> myFitTracker powered by <img src="/images/fitbit.png" alt="Fitbit PNG"> </div>
        <div id="right"> 
            <img src="<%= user.avatar %>" alt="Avatar jpg"> 
            <div id="rightText">Hello, <%= user.fullName %> </div>
            <button onclick="logout()">Logout</a> </div>
    </div>

    <div id="dashboard">
        <h1>Testing: <%= JSON.stringify(dateTimes) %> </h1>
        <h1>Testing: "<%= JSON.stringify(restingHeartRates) %>" </h1>
        <h1>Testing: "<%= JSON.stringify(sleepTimes) %>" </h1>
        <h1>Testing: "<%= JSON.stringify(stepTimes) %>" </h1>
        <h1>Average Daily Steps  <%= user.averageDailySteps %> </h1>
        <h1>Average Running Stride Length <%= user.strideLengthRunning %> </h1>
        <div id = "chart">
            <canvas id="heartChart"></canvas>
            <canvas id="sleepChart"></canvas>
            <canvas id="stepChart"></canvas>
        </div>
    </div>

    <script>
        function logout() {
            // Create a form element
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/logout';

            // Add the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const heartCtx = document.getElementById('heartChart').getContext('2d');
        const sleepCtx = document.getElementById('sleepChart').getContext('2d');
        const stepCtx = document.getElementById('stepChart').getContext('2d');
        

        const xaxis = <%- JSON.stringify(dateTimes) %>;
        const yaxis = <%- JSON.stringify(restingHeartRates) %>;
        const yaxisSleep = <%- JSON.stringify(sleepTimes) %>;
        const yaxisStep = <%- JSON.stringify(stepTimes) %>;
      
        new Chart(heartCtx, {
          type: 'line',
          data: {
            labels: xaxis,
            datasets: [{
              label: 'Average Resting Heart Rate',
              data: yaxis,
              borderColor: 'rgba(75, 192, 192, 1)',
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderWidth: 1,
              fill: true
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false
              }
            },
            responsive: true,
            maintainAspectRatio: false
          }
        });

        new Chart(sleepCtx, {
          type: 'line',
          data: {
            labels: xaxis,
            datasets: [{
              label: 'Sleep Times',
              data: yaxisSleep,
              borderColor: 'rgba(153, 102, 255, 1)',
              backgroundColor: 'rgba(153, 102, 255, 0.2)',
              borderWidth: 1,
              fill: true
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false
              }
            },
            responsive: true,
            maintainAspectRatio: false
          }
        });

        new Chart(stepCtx, {
          type: 'line',
          data: {
            labels: xaxis,
            datasets: [{
              label: 'Sleep Times',
              data: yaxisStep,
              borderColor: 'rgba(153, 102, 255, 1)',
              backgroundColor: 'rgba(153, 102, 255, 0.2)',
              borderWidth: 1,
              fill: true
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false
              }
            },
            responsive: true,
            maintainAspectRatio: false
          }
        });
    </script>
   
</body>
</html>