<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myFitTracker</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/x-ico" href="/images/dumbell_icon.png">
</head>
<body>
    <div id="header">
      <a href="/home"> <div id="left"> myFitTracker powered by <img src="/images/fitbit.png" alt="Fitbit PNG"> </div></a>
        <div id="right"> 
            <img src="<%= user.avatar %>" alt="Avatar jpg"> 
            <div id="rightText">Hello, <%= user.displayName %> </div>
            <button onclick="logout()">Logout</a> </div>
    </div>

    <div id="dashboard">
        <!-- <h1>Testing: <%= JSON.stringify(dateTimes) %> </h1>
        <h1>Testing: "<%= JSON.stringify(restingHeartRates) %>" </h1>
        <h1>Testing: "<%= JSON.stringify(sleepTimes) %>" </h1>
        <h1>Testing: "<%= JSON.stringify(stepTimes) %>" </h1>
        <h1>Average Daily Steps  <%= user.averageDailySteps %> </h1> -->
        <div id="heart">
          <a href="/heart" id="heartLink">
            <img src="/images/heart.png" alt="Heart PNG">
            <span>View Heart Data</span>
          </a>
        </div>
    </div>

    <script>
        function logout() {
            // Create a form element
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/logout';

            // Add the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
        }
    </script>

<footer>
  <a href="https://github.com/1shman" target="_blank" class="footer-link"><p>Personal project coded by Ishraq Rahman</p></a>
</footer>

</body>
</html>